// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: "Poppins", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Dark blue color, primary color
/// @type Color
$dark-blue: #264065 !default;

/// Dark blue color, primary color
/// @type Color
$hover-dark-blue:lighten($dark-blue, 25%) !default;

/// Cyan color, secondary color
/// @type Color
$cyan: #A9D6CB !default;

/// Copy text color
/// @type Color
$dark: #070D15 !default;

/// Copy text color
/// @type Color
$gray: #909090 !default;

/// Medium grey
/// @type Color
$white: #FFFFFF !default;

/// Medium grey
/// @type Color
$background: #FAF8F5 !default;


//Breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width:1200px;